.topBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--tj-nav-gradient);
    color: var(--landing-background);
    padding: var(--tk-spacing-small) var(--tk-spacing-xxxlarge) var(--tk-spacing-small) var(--tk-spacing-xxxlarge);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: -8px 8px 3px rgba(0, 0, 0, 0.12);
    flex-wrap: wrap;
    gap: 20px;
}

.heading{ 
    font-size: 32px;
    font-weight: 700;
}

.dotImage{
    top: 10px;
    left: 0;
    position: absolute;
    height: 300px;
    width: 300px; 
    opacity: .5;
}

.dotImage2{
    right: 200px;
    position: absolute;
    height: 300px;
    width: 300px;
    opacity: .5;
}

@media (max-width: 769px){
    .topBanner{
        flex-direction: column;
        align-items: center;
        padding: var(--tk-spacing-small) var(--tk-spacing-medium);
        gap: 5px;

    }
    .dotImage{
        left: -150px;
    }

    .dotImage2{
        top: -100px;
        right: 30px;
    }

    .heading {
        text-align: center;
    }
}

@media (max-width: 608px){
    .topBanner{
        border-radius: 0px;
    }
}

@media (max-width: 465px){
    .heading{
        font-size: 22px;
    }
    .subHeading {
        font-size: 12px;
        text-align: center;
    }
    .dotImage{
        height: 200px;
        width: 200px;
        left: -100px;
    }
    .dotImage2{
        height: 200px;
        width: 200px;
        top: -50px;
        right: 20px;
    }
}