
.filledButton{
    background-color: var(--primary-white);
    border: none;
    outline: none;
    color: var(--primary-dark-text);
    padding: var(--tk-spacing-medium) var(--tk-spacing-large);
    font-size: 15px;
    border-radius: 6px;
    font-weight: 500;
}

.unfilledButton{
    background-color: transparent;
    border: 1px solid var(--primary-white);
    outline: none;
    color: var(--primary-white);
    padding: var(--tk-spacing-medium) var(--tk-spacing-large);
    font-size: 15px;
    border-radius: 6px;
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.filledButton:hover{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: var(--primary-white);
}

.unfilledButton:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--primary-white);
    background-origin: border-box;
}

.unfilledButton:hover::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    border-radius: 5px;
    background: var(--tk-gradient-vibrant-twilight);
    padding: 1px;
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
}