.dashboardPage {
  padding: 0 20px;
  padding-bottom: 40px;
  width: 100%;
  min-height: 100vh;
  background: var(--dashboard-right-background);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboardFilters {
  display: flex;
  gap: 12px;
  align-items: end;
  flex-wrap: wrap;
  padding-top: 12px;
}

.filterInputs {
  border: 1px solid var(--dashboard-borders);
  padding: 6px;
  outline: none;
  border-radius: 4px;
  color: var(--dashboard-primary-text);
  background-color: var(--dashboard-primary-background);
}

.confidenceWrapper {
  background: var(--dashboard-primary-background);
  border-radius: 8px;
  padding: 16px 18px 16px 18px;
  box-shadow: 0 1px 7px rgba(126,72,215,0.04);
  border: 1px solid var(--dashboard-borders);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.confidenceLabelRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
  flex-wrap: wrap;
}

.confidenceLabel {
  font-size: 14px;
  color: var(--dashboard-primary-text);
}

.confidenceVal {
  font-size: 16px;
  font-weight: 700;
  color: #618bff;
  margin-right: 4px;
}

.confidenceBar {
  width: 100%;
  height: 17px;
  background-color: var(--dashboard-buttons-hover);
  border-radius: 7px;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 2px;
  position: relative;
}

.confidenceBarInner {
  height: 100%;
  border-radius: 7px;
  background: linear-gradient(90deg, #618bff 35%, var(--dashboard-green-color) 100%);
  transition: width 0.6s cubic-bezier(.82,0,.31,1);
  min-width: 0;
}

tspan {
    font-size: 10px;
}

.confidenceScaleLabels {
  display: flex;
  font-size: 12px;
  color: var(--dashboard-secondary-text);
  justify-content: space-between;
  margin-top: 3px;
}

@media (max-width: 600px) {
  .confidenceWrapper {
    padding: 10px 7px 8px 10px;
  }
}

.dashboardStatsCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.statCard {
  background: var(--dashboard-primary-background);
  border-radius: 8px;
  min-width: 0;
  padding: 12px;
  box-shadow: 0 2px 13px rgba(70,50,120,0.06);
  border: 1px solid var(--dashboard-borders);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 0;
  max-width: 100%;
  flex-basis: calc(50% - 10px);
}

@media (min-width: 1200px) {
  .statCard {
    flex-basis: calc((100% - 5 * 20px) / 6);
  }
}

@media (max-width: 1199px) and (min-width: 901px) {
  .statCard {
    flex-basis: calc((100% - 3 * 20px) / 4);
  }
}

@media (max-width: 900px) {
  .statCard {
    flex-basis: calc(50% - 10px);
  }
  .dashboardStatsCards {
    gap: 10px;
  }
}

.statLabel {
  color: var(--dashboard-primary-text);
  font-size: 14px;
  font-weight: 400;
}

.statValue {
  color: var(--dashboard-primary-text);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

.dashboardCharts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 800px) {
  .dashboardCharts {
    grid-template-columns: 1fr;
  }
}

.chartBox {
  background-color: var(--dashboard-primary-background);
  border: 1px solid var(--dashboard-borders);
  border-radius: 8px;
  flex: 1 1 355px;
  box-shadow: 0 2px 13px rgba(70,50,120,0.045);
  padding: 10px 20px;
  padding-left: 8px;
  min-width: 320px;
  min-height: 320px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.chartHeading {
  font-weight: 400;
  color: var(--dashboard-primary-text);
}

@media (max-width: 900px) {
  .dashboardCharts {
    flex-direction: column;
    gap: 16px;
  }
}

.topTradesSection {
  width: 100%;
  background: var(--dashboard-primary-background);
  border: 1px solid var(--dashboard-borders);
  border-radius: 8px;
  box-shadow: 0 1px 7px rgba(70,50,120,0.03);
  padding: 0;
  overflow-x: auto;
}

.topTradesHeading {
  letter-spacing: 0.01em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
}

.heading {
  font-size: 14px;
  color: var(--dashboard-primary-text);
}

.viewAll {
  font-size: 14px;
  color: #618bff;
}

.topTradesTableWrapper {
  width: 100%;
  overflow-x: auto;
}

.topTradesTable {
  border-collapse: collapse;
  width: 100%;
  min-width: 650px;
}

.topTradesTable th,
.topTradesTable td {
  padding: 10px 15px;
  text-align: center;
}

.topTradesTable th {
  font-size: 14px;
  font-weight: 500;
  color: var(--dashboard-primary-text);
  border-bottom: 1px solid var(--dashboard-borders);
  border-top: 1px solid var(--dashboard-borders);
}

.topTradesTable td {
  font-size: 14px;
  border-bottom: 1px solid var(--dashboard-borders);
  color: var(--dashboard-primary-text);
}

.topTradesTable tr:last-child td {
  border-bottom: none;
}

.long {
  color: var(--dashboard-green-color);
}
.short {
  color: var(--dashboard-red-color);
}

@media (max-width: 600px) {
  .dashboardPage {
    padding: 0px 10px 40px;
  }
}

.noTradesFound {
  color: var(--dashboard-secondary-text);
}