.informationContainer {
    width: 100%;
    height: 100%;
    border-right: 1px solid rgb(181 178 201);
    border-bottom: 1px solid rgb(181 178 201);
    padding: 5.2rem 2.75rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
    box-sizing: border-box; 
    background-color: var(--landing-sec-background);
    min-height: 50vh;
}



.infoTopTag{
    font-size: 14px;
    background-color: var(--tag-color);
    padding: 8px 16px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05em;
    color: var(--primary-dark-text);
}



.tagContainer{ 
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}



.infoTopHeading{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.heading{
    font-size: 63px;
    font-weight: 700;
    letter-spacing: -.03em;
    line-height: 1;
    color: var(--primary-dark-text);
    width: 100%; 
    max-width: 500px; 
    overflow-wrap: break-word; 
}



.subHeading{
    font-size: 63px;
    font-weight: 300;
    letter-spacing: -.03em;
    line-height: 1;
    color: var(--primary-dark-text);
    overflow-wrap: break-word;
}



.infoTexts{
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.infoButtons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.infoPara{
    color: var(--primary-dark-text);
    font-size: 16px;
    line-height: 1.3;
    font-weight: 300;
}


.infoPoints{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%; 
}



.points{
    display: flex;
    align-items: start;
    gap: 10px;
}



.pointIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--primary-dark-text);
}



.pointsText{
    color: var(--primary-dark-text);
    font-size: 16px;
    line-height: 1.3;
    font-weight: 300;
}


.buttons{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap; 
}



.buttonSmallText{
    font-size: 12px;
    opacity: .6;
    color: var(--primary-dark-text);
}



@media (max-width: 1353px){
    .heading{
        max-width: 400px; 
    }
    .heading, .subHeading{
        font-size: 50px;
    }
}



@media (max-width: 998px){
    .heading{
        max-width: 300px; 
    }
    .heading, .subHeading{
        font-size: 40px;
    }
    .infoPara{
        font-size: 14px;
    }
    .pointIcon{
        font-size: 16px;
    }
    .pointsText{
        font-size: 14px;    
    }
}



@media (max-width: 608px){
    .informationContainer{
        padding: 5.2rem 16px;
    }

    .infoPoints{
        grid-template-columns: 1fr;
    }


    .heading{
        max-width: 100%; 
        font-size: 36px; 
    }


    .subHeading{
        font-size: 36px;
    }
}
